*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow-x:hidden;
}

.invitation{
    width:100%;
    height:auto;
    display:block;
}

.petal{
    position:fixed;
    top:-100px;
    z-index:999;
    pointer-events:none;

    animation-name:fallPetal;
    animation-timing-function:linear;
}

@keyframes fallPetal{

    0%{
        transform:
        translateY(-100px)
        translateX(0px)
        rotate(0deg);
    }

    100%{
        transform:
        translateY(110vh)
        translateX(100px)
        rotate(360deg);
    }

}
body{
    margin:0;
    overflow-x:hidden;

    background-image: url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}